
main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

app-square {
  border: 1px black solid;
  height: 200px;
}


.startButton {
  margin-left: 225px;
  margin-bottom: 20px;
  height: 75px;
  width: 150px;
  align-self: center;
  background: rgb(247, 32, 32);
  background: linear-gradient(86deg, rgba(247, 32, 32, 1) 0%, rgba(37, 53, 255, 1) 100%);
  border: 2px black solid;

}

.startButton:hover {
  animation: pulse 2s infinite;
}

.startButtonContainer {
  height: 75px;
  width: 150px;
  margin-bottom: 20px;
  align-self: center;
}

.result {
  font-size: 25px;
  font-family: Courier, sans-serif;
  font-weight: bold;
  margin-left: 205px;
}

.resultContainer {
  width: 600px;
  height: 50px;
}

.head {
  font-size: 25px;
  font-family: Courier, sans-serif;
  font-weight: bold;
  margin-left: 175px;
}

#headO {
  color: blue;
}

#headX {
  color: red;
}

.counterContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  font-size: 1.5em;
  font-family: Courier, sans-serif;
  font-weight: bold;

}

.counterXContainer {
  color: red;

}

.counterOContainer {
  color: blue;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

