body {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
  url("images/blackHexa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}/* You can add global styles to this file, and also import other style files */
